@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 100%;
}

.container .container-header {
  width: 100%;
}

.container .container-header .container-header-top {
  height: 38px;
  background-color: #3276db;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 500;
  gap: 35px;
}

.container-header-top .header-top-phone {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.container-header-top .header-top-address {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.container-header-top .header-top-timing {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.container-header-top .header-top-social ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 15px;
}

.header-top-social ul li a {
  color: #fff;
}

.container-header-top .header-top-useraccount ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 20px;
}

.header-top-useraccount ul .login {
  border-right: 1px solid #9a9a9a;
  padding-right: 15px;
}

.header-top-useraccount ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #fff;
  text-decoration: none;
}
